@font-face {
    font-family: 'Adwaita';
    src: url('https://volrencs.github.io/DisBreeze/assets/fonts/Adwaita.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}