@import url('https://volrencs.github.io/DisBreeze/build/base.css');
body {
    --gap: 6px; /* Расстояние между панелями */
    --divider-thickness: 2px; /* Толщина разделителя непрочитанных сообщений и границ выделенных сообщений */

    --custom-app-top-bar-height: 30px; /* Высота заголовка/верхней панели */

    --custom-window-controls: on;
    --window-control-size: 14px; /* Размер кастомных окон управления */

    --icon: on;
    --icon-svg-url: url('https://volrencs.github.io/DisBreeze/assets/icon/Breeze.svg');
    --icon-svg-size: 120%; /* Размер svg */
    --icon-color-before: var(--text-2); /* Обычный цвет иконки */
    --icon-color-after: var(--text-0); /* Цвет иконки при наведении/выборе кнопки */

    --background-image: on;
    --background-image-url: url('https://volrencs.github.io/DisBreeze/assets/background/Breeze.png'); /* Url изображения фона */

}

:root {
    --colors: on;

    /* Цвета текста */
    --text-0: oklch(0.33 0.04 253.21); /* Текст на цветных элементах */
    --text-1: oklch(0.73 0.0777 284.33); /* Другой обычный белый текст */
    --text-2: oklch(0.9 0.0164 262.75); /* Заголовки и важный текст */
    --text-3: oklch(0.9911 0 0); /* Обычный текст */
    --text-4: oklch(0.83 0.0215 261.76); /* Кнопки с иконками и каналы */
    --text-5: oklch(0.7309 0.0147 248.03); /* Приглушенные каналы/чаты и временные метки */

    /* Фоны и темные цвета */
    --bg-1: oklch(0.27 0.0112 238.24); /* Темные кнопки при нажатии */
    --bg-2: oklch(0.25 0.0128 258.37); /* Темные кнопки */
    --bg-3: oklch(0.2917 0.0084 255.57); /* Отступы, второстепенные элементы */
    --bg-4: oklch(0.1989 0.0051 248.08); /* Основной цвет фона */
    --hover: oklch(0.38 0.0252 266.91); /* Каналы и кнопки при наведении */
    --active: oklch(0.32 0.023 264.17); /* Каналы и кнопки при нажатии или выборе */
    --active-2: oklch(0.47 0.043 266.22); /* Дополнительное состояние для прозрачных кнопок */
    --message-hover: oklch(0.5178 0.0269 254.78 / 10%); /* Сообщения при наведении */

    /* Акцентные цвета */
    --accent-1: oklch(0.58 0.0667 249.76); /* Ссылки и другой акцентный текст */
    --accent-2: oklch(0.65 0.0902 238.41); /* Мелкие акцентные элементы */
    --accent-3: oklch(0.64 0.0835 255.23); /* Акцентные кнопки */
    --accent-4: oklch(0.57 0.0959 253.87 / 40%); /* Акцентные кнопки при наведении */
    --accent-5: oklch(0.64 0.0835 255.23 / 30%); /* Акцентные кнопки при нажатии */
    --accent-new: var(--accent-2); /* Элементы, которые обычно красные, как кнопки mute/deafen */
    --mention: linear-gradient(to right, color-mix(in oklch, var(--accent-2), transparent 90%) 40%, transparent); /* Фон сообщений, которые упоминают вас */
    --mention-hover: linear-gradient(to right, color-mix(in oklch, var(--accent-2), transparent 95%) 40%, transparent); /* Фон сообщений, которые упоминают вас при наведении */
    --reply: linear-gradient(to right, color-mix(in oklch, var(--text-3), transparent 90%) 40%, transparent); /* Фон сообщений, которые отвечают на ваши */
    --reply-hover: linear-gradient(to right, color-mix(in oklch, var(--text-3), transparent 95%) 40%, transparent); /* Фон сообщений, которые отвечают на ваши при наведении */

    /* Цвета индикаторов статуса */
    --online: oklch(0.7131 0.1313 236.01);
    --dnd: oklch(0.6045 0.1857 19.16);
    --idle: oklch(0.7264 0.1554 80.47);
    --offline: oklch(0.79 0.0215 261.76);
}
